<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}" />
</head>
<body>
    <div class = "Audience">Audience</div>

    <div class = "Stage">
        <div class="tag tag1">MA</div>
        <div class="tag tag2">MC</div>
        <div class="tag tag3 purple">MC</div>
        <div class="tag tag4">AMB</div>
        <div class="tag tag5">Tej</div>
        <div class="tag tag6"></div>    
    </div>

    <div class = "Officials">Officials</div>

    <script src="{{ url_for('static', filename='index.js') }}"></script>
</body>
</html>